$bg: rgba(#000000,1);
$fg: #dddddd;
$border_col: rgba(#cccccc,0.18);

.bar {
	background-color: transparent;	
}

.main-container {
	margin: 12px 12px -20px 12px;
}

.workspaces {
	background-color: $bg;
	border-radius: 16px;
	color: $fg;	
	margin-bottom: 20px;
	border: 1px solid $border_col;
	padding: 6px 20px 4px 20px;
       	font-size: 22px;
	min-height: 25px;	
}

.time_battery {
	background: $bg;
	border-radius: 10px;
	color: $fg;
	font-size: 16px;
	padding: 5px 15px 4px 14px; 
	margin-bottom: 20px;
	border: 1px solid $border_col;
	text-shadow: none;
}